<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle_about.css') }}">
    </head>
    <body> 
        <h1>Chick-fil-A Nutrition Guide: An Introduction</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
        <div>
            <p>Chick-fil-A Nutrition Guide is a web application that allows users to search for the calorie value of a food item or give users a list of all allergens for items they entered. The data is originally from Chick-fil-A's official website.</p>
            <p>Click on the Homepage link to start exploring our functions!</p>
        </div>
    </body>
</html>

