<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>
    <body> 
        <h1>About</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
        <p>Welcome to the Chick-fil-A Nutrition Guide, your go-to resource for detailed nutritional information 
            about your favorite Chick-fil-A meals! Whether you are tracking your calorie intake, managing dietary restrictions, 
            or just curious about what goes into your food, our app is here to help.</p>
        <p>Target Audience: Our app is designed for everyone interested in Chick-fil-A: from health-conscious diners and fitness enthusiasts to individuals 
            with specific dietary needs and fans of Chick-fil-A looking for more information about their meals.</p>   
        <p>Feature 1 - Calorie Search: Find out the calorie count of any Chick-fil-A item with our easy search feature. 
            Just type in the name of the item, and get corresponding calorie information instantly.</p>
        <p>Feature 2 - Allergen Information: Our app provides a comprehensive list of allergens for the list menu items from your input, 
            ensuring that individuals with allergies can make informed choices.</p>
    </body>
</html>

