<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>
    <body> 
        <h1>Contact Info</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
        <p>Chick-fil-A Nutrition Guide is created by Team G of the Fall 2023 CS257: Software Design at Carleton College.</p>
        <p>Group members are: Hank Zhao, Austin Zhang, Charlie Ding, Lee Li.</p>
        <p><a href="https://github.com/CS257-F23/team-project-g">Source code</a></p>
    </body>
</html>