<html>
    <head>
        <title>Search Result</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle_diet.css') }}">
    </head> 

    <body> 
        <div>
            <a href="/" class="back">&laquo; Back</a>
        </div>
            <h1>Search Result</h1>  
            {% if allergies != "[]" %}
                <p>{{food}} contain(s) the following allergies: {{ allergies }}</p> 
            {% else %}
                <p>{{food}} contain(s) no allergies.</p>
            {% endif %}
        </div>

        
    </body> 

</html>
