<html>
    <head>
        <title>Search Result</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head> 

    <body> 
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
            <h1>Search Result</h1>  
            {% if allergies != "[]" %}
                <p>{{food}} contain(s) the following allergies: {{ allergies }}</p> 
            {% else %}
                <p>{{food}} contain(s) no allergies.</p>
            {% endif %}
        </div>

        
    </body> 

</html>
