<html>
    <head>
        <title>Oops, food not found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle_notFound.css') }}">
    </head> 

    <body>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
        <h1>Sorry, the item(s) you are searching for is not in the menu of Chick-fil-A.</h1>
    </body> 

</html>
